@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 1vmin 1rem;
  h1 {
    font-size: calc(8px + 1vmin)
  }
}

.App-main {
  background-color: white;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  min-width: 70vh;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  color: white;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin: 8px 0;
}

